@font-face {
    font-family: 'Bigelow Rules';
    src: url(/fonts/BigelowRules-Regular.ttf) format('truetype');
}

body {
    margin: 1%;
}


.famousbanner {
    font-size: 70pt;
    text-align: center;
    color: rgb(159, 117, 20);
    background-color: beige;
    font-family: 'Bigelow Rules';
    margin-top: 0px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    margin-top: 10px;
    height: auto;
}

h1 {
    font-size: 45pt;
    text-align: center;
    color: burlywood;
    font-family: arial;
}

h2 {
    font-size: 30pt;
    text-align: left;
    color: cadetblue;
}

.caregrid {
    background:rgb(222, 221, 218);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr;
    justify-items: center;
    align-content: center;
    margin-bottom: 2em;
    padding: 1.5em;
}